Este es mi primer Notebook de Jupyter

In [1]:
import pandas as pd

Creamos una serie con Paises y ciudades

In [2]:
data_pais = {
    "pais": ["Brasil", "Mexico", "España", "Peru", "Colombia", "Venezuela"]
    , "capital": ["Brasilia", "Ciudad de México", "Madrid", "Lima", "Bogotá","Caracas"]
    , "superficie": [8.5, 1.9, 0.6, 0.4, 1.6, 0.9]}

Creamos un DataFrame a partir del diccionario

In [4]:
df = pd.DataFrame(data_pais)
df

        pais           capital  superficie
0     Brasil          Brasilia         8.5
1     Mexico  Ciudad de México         1.9
2     España            Madrid         0.6
3       Peru              Lima         0.4
4   Colombia            Bogotá         1.6
5  Venezuela           Caracas         0.9

dibujamos solo la capital

In [7]:
df[['pais','capital']]

        pais           capital
0     Brasil          Brasilia
1     Mexico  Ciudad de México
2     España            Madrid
3       Peru              Lima
4   Colombia            Bogotá
5  Venezuela           Caracas